@import 'bootstrap'; 
@import 'bootstrap-icons';

$primary: #742bde; 

body { 
  background-color: #f5f5f5;

}

nav { 
  background: #fff; 
  box-shadow: 0 0 20px rgba(#000, 0.1);
  width: 100%; 
  max-width: 250px;
  height: 100vh; 
  position: fixed;
  left: 0; 
  top: 0; 
  padding: 30px; 

  ul { 
    padding: 0; 
    margin: 0 0 50px; 
    li { 
      list-style: none;
      a { 
        text-decoration: none;
        color:#86858A;
        margin: 30px 0; 
        display: block;
        
        &:not(.special-button) { 
          padding: 0 15px; 
          i { 
            margin: 0 15px 0 0;
          }
        }

        &.special-button { 
          background: $primary; 
          color: #fff; 
          display: block;
          padding: 10px 20px; 
          border-radius: 7px; 
          margin: 0 0 40px;   
          position: relative; 

          i { 
            font-size: 30px;
            position: absolute;
            top: 0;
            right: 10px;
            bottom: 0;
            margin: auto;
          }
        }
      }
    }
  }

}

.wrapper { 
  width:100%; 
  padding: 0 0 0 250px; 
}